* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a,
.contact a,
.fheading h5 a,
.homecollection h3 a,
.textbtn a,
.slimenu ul li a,
.leftmenu .button a {
  color: inherit;
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  color: #000;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 1px;
}

:root {
  --font-family: 'AvertaStd', sans-serif;
  --primary-color: #663487;
  --secondary-color: #257bbf;
  --white-color: #fff;
  --bg-color: #deebf4;
  --btn-color: #0599d2;
}

* {
  outline: 0;
}

svg {
  width: 100%;
  height: auto;
}

.container {
  min-width: 90%;
  margin: auto;
}

.testimonialbox,
.web-container,
.quality {
  width: 85%;
  margin: auto;
}

.button {
  float: left;
  min-width: 140px;
  display: block;
  border: none;
  background: none;
  color: inherit;
  position: relative;
  z-index: 1;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
  background-color: var(--btn-color);
  color: var(--white-color);
  overflow: hidden;
  transition: color 0.3s;
  text-align: center;
  line-height: 50px;
  border-radius: 50px;
  font-size: 14px;
  text-transform: uppercase;
}

.button--aylen.button--inverted {
  background: none;
  color: var(--white-color);
}

.button--aylen::before,
.button--aylen::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}

.button--aylen::before {
  background: #7986cb;
}

.button--aylen::after,
.gradient {
  background: linear-gradient(80deg, #8827ca, #178fee);
}

.button--aylen:hover {
  color: var(--white-color);
}

.button--aylen:hover::before,
.button--aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.button--aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

h1,
h2,
h3,
h4,
h5,
h6,
.slick-slider .slick-dots li,
.detailrow p,
.headersearchbox.enquireform .MuiInputBase-root {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.grey-background {
  background-color: #fbfcfe;
}

.homecollection h4 {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 20px;
  margin: 0;
}

.homecollection h3 {
  font-size: 38px;
  color: #0599d2;
  font-weight: bold;
  line-height: 38px;
  margin: 0;
}

.menslide {
  position: fixed;
  background: #f3f3f3;
  width: 100%;
  left: 0;
  top: 150px;
  line-height: 50px;
  transition: ease all 0.5s;
  visibility: hidden;
  opacity: 0;
  z-index: 9;
  height: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hemburgur span {
  display: block;
  width: 6px;
  height: 6px;
  border-radius: 1px;
  background: rgb(0 0 0 / 50%);
  transition: 0.2s ease-in-out;
  float: left;
  position: absolute;
  border-radius: 100%;
  right: 0;
}

.togmenu li {
  padding: 8px 0;
}

.hemburgur {
  width: 30px;
  height: 40px;
  cursor: pointer;
  transform: rotate(0deg);
  position: relative;
  float: right;
  z-index: 1;
  right: 0;
  background: transparent;
  border: none;
  outline: 0;
}

.hemburgur span:nth-child(1) {
  top: 0;
}

.hemburgur span:nth-child(2) {
  top: 14px;
}

.hemburgur span:nth-child(3) {
  top: 28px;
}

.header,
.actualprice {
  padding: 15px 0;
}

header,
.title,
.all-test .sliderbox {
  margin-bottom: 50px;
}

.hemburgur.active span:nth-child(1) {
  transform: rotate(45deg);
  top: 15px;
  left: 5px;
  width: 100%;
  height: 2px;
  border-radius: 0;
}

.hemburgur.active span:nth-child(2) {
  opacity: 0;
}

.hemburgur.active span:nth-child(3) {
  transform: rotate(-45deg);
  top: 15px;
  left: 5px;
  width: 100%;
  height: 2px;
  border-radius: 0;
}

.menslide.active {
  opacity: 1;
  visibility: visible;
  top: 120px;
}

.fixed .menslide.active {
  top: 100px;
}

img {
  max-width: 100%;
}

.searchbutton {
  position: absolute;
  right: 0;
  background-color: var(--btn-color);
  top: 0;
  bottom: 0;
  width: 80px;
}

.searchbutton svg path,
.discountprice svg path {
  fill: var(--white-color) !important;
}

.discountprice svg path {
  stroke: var(--white-color) !important;
}

.searchbutton svg {
  width: 100%;
  font-size: 32px;
  font-weight: 100;
}

.enquireform .MuiInputBase-root {
  border-radius: 35px;
  background-color: var(--bg-color);
  text-align: left;
  overflow: hidden;
  margin-bottom: 15px;
}

.enquireform .MuiInputBase-root label {
  font-weight: normal;
  text-transform: capitalize;
  font-family: var(--font-family);
  letter-spacing: 0.5px;
  left: 10px;
  position: relative
}

.MuiInputBase-root.formbtn {
  line-height: 56px;
  color: #607586;
  letter-spacing: 0;
  border: solid 1px #abb5bb;
  max-height: 56px;
}

.MuiInputBase-root.formbtn.download {
  text-indent: 8px;
}

main {

  gap: 75px;
}

section,
.slick-list,
.testimonialshape,
.slick-slider {
  width: 100%;
  float: left;
}


.title,
.testimonialbox,
.slimenu ul li {
  position: relative;
}

.title h3 {
  margin: 0;
  font-size: 30px;
  line-height: 60px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  background-image: linear-gradient(52deg, #7610c7, #0c90d2);
  background-size: 100% 100%;
  background-position: 0;
}

.title h3:after {
  content: '';
  width: 50px;
  height: 5px;
  display: inline-block;
  background: var(--secondary-color);
  position: absolute;
  left: 50%;
  top: 100%;
  transform: translate(-50%, -50%);
}

.sliderbox {
  background: var(--white-color);
  border-radius: 25px;
  padding: 25px;
  text-align: center;
  gap: 15px;
  position: relative;
  transition: ease all 0.5s;
  margin: 20px auto;
  max-width: 350px;
  box-shadow: 4px 4px 20px rgb(217 229 236);
}

.sliderbox:hover {
  background: #f7fafd;
}

.packagename span,
.circleicons span {
  width: 140px;
  height: 140px;
  background-color: var(--bg-color);
  border-radius: 100%;
  margin: auto;
}



.packagedetail ul {
  padding: 0;
  margin: 0;
  gap: 15px;
}

.packagedetail ul li {
  position: relative;
}

.packagedetail ul li:before {
  content: '';
  width: 30px;
  height: 2px;
  background: #ff0000;
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.packagedetail ul li:last-child:before {
  opacity: 0;
}

.actualprice {
  font-size: 28px;
  font-weight: bold;
  line-height: 36px;
  margin-bottom: 10px;
}

.actualprice svg,
.discountprice svg {
  width: 30px;
  height: 30px;
  position: relative;
  left: 5px;
}

.discountprice {
  font-weight: bold;
  border-radius: 25px;
  font-size: 28px;
  line-height: 50px;
  width: 150px;
  margin: 0px auto;
}


.packagename h4 {
  font-size: 18px;
  display: grid;
  line-height: 26px;
  margin-bottom: 20px;
}

.flex-center,
.discountprice,
.actualprice,
.packagename span,
.searchbutton {
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-center,
.packagedetail ul,
.sliderbox {
  display: grid;
  align-items: center;
  justify-content: center;
}

.actualprice:before {
  content: '';
  width: 70px;
  position: absolute;
  height: 2px;
  background: #ff0000;
  transform: rotate(45deg);
}

.actualprice:after {
  content: '';
  width: 70px;
  position: absolute;
  height: 2px;
  background: #ff0000;
  transform: rotate(136deg);
}

.title h3 span {
  font-size: 22px;
  line-height: 30px;
  margin-bottom: 20px;
}

.title h3.text-white {
  -webkit-text-fill-color: var(--white-color);
  background-image: inherit;
}

.condtionicon {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 50px;
  z-index: 1;
}

.conditionshape {
  height: 150px;
  overflow: hidden;
}

.conditionshape span {
  position: absolute;
  width: 100%;
  bottom: 0;
  height: 100%;
}

.conditionshape h3 {
  position: absolute;
  margin: 0;
  text-align: center;
  width: 100%;
  right: 0;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 20px;
  line-height: 26px;
  color: #000;
}

.condtionicon path {
  fill: #284980;
}

.condition:nth-child(1) .conditionshape path {
  fill: #5dd6b3;
}

.condition:nth-child(2) .conditionshape path {
  fill: #6295d7;
}

.condition:nth-child(3) .conditionshape path {
  fill: #fef7a6;
}

.condition:nth-child(4) .conditionshape path {
  fill: #e5e4f4;
}

.condition:nth-child(5) .conditionshape path {
  fill: #d98594;
}

.condition:nth-child(6) .conditionshape path {
  fill: #fcd29f;
}

.condition:nth-child(7) .conditionshape path {
  fill: #e0d3de;
}

.condition:nth-child(8) .conditionshape path {
  fill: #c7efcf;
}

.circleicons {
  margin: 15px 0;
}

.footerrow {
  gap: 100px;
}

.footercolumn,
.fheading h5,
.slimenu ul li {
  font-size: 14px;
  line-height: 26px;
}

.fheading h5 {
  font-weight: 600;
  letter-spacing: 1.5px;
}

.footergray {
  background-color: #d8dee8;
  padding: 50px 0;
}

.ftrbdr {
  border: solid 1px #d3d3d3 !important;
}

.footergray p {
  font-size: 13px;
  letter-spacing: 0.5px;
  color: #8f8f8f;
}

.bg-gradient-image {
  bottom: -50%;
  z-index: -1;
}

.packagedetail {
  height: 120px;
  display: inline-block;
}

.textbtn {
  margin-top: 25px;
  font-weight: 600;
  font-size: 13px;
  line-height: 20px;
  letter-spacing: 1.5px;
  transition: ease all 0.5s;
  position: relative;
  display: inline-block;
  padding-bottom: 5px;
}

.textbtn:hover {
  letter-spacing: 4px;
}

.textbtn:after {
  content: '';
  width: 0;
  position: absolute;
  height: 1px;
  bottom: 0;
  background: #646464;
  left: 0;
  transition: ease all 0.5s;
}

.textbtn:hover:after {
  width: 100%;
}

.packagename h5 {
  margin: 0;
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0f8cd2;
  padding: 10px 30px;
  border-radius: 25px;
  color: var(--white-color);
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 2px;
}

.condition {
  margin-bottom: 35px;
}

.organcolumn svg path,
.circleicons svg path {
  fill: var(--white-color);
}

.circleicons svg {
  width: 50%;
}

.testimonial {
  background-image: url(/testimonial-banner.webp);
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: right;
}

.testimonial:before {
  background: rgb(37 123 191 / 74%);
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

.testimonialcont {
  position: absolute;
  width: 93%;
  left: 0;
  padding: 0 30px;
}

.testimonialbox p {
  text-align: center;
  color: rgb(0 0 0 / 60%);
  font-size: 17px;
  line-height: 22px;
}

.testimonialbox h4 {
  margin: 0;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  width: 100%;
  float: left;
  text-align: center;
}

.cta span svg {
  margin: 0px auto;
  transition: ease all 0.5s;
}

.call svg {
  width: 50px;
}

.whatsapp svg {
  width: 50px;
  height: 48px;
}

.cta,
.footergray,
.testimonialcont {
  margin-top: 50px;
}

.hsection {
  top: 15%;
  left: -3%;
  opacity: 0.5;
}

.endminus {
  right: -3%;
}

.svgwidth {
  width: 150px;
  height: 150px;
}

.svgwidthline {
  width: 80px;
  opacity: 0.5;
}

footer {
  margin-top: 75px;
}

.footergray p a {
  color: #8f8f8f;
  text-decoration: none;
}

.no-buttons .slick-prev,
.no-buttons .slick-next {
  display: none !important;
}

.slick-slider .slick-dots {
  bottom: 15px;
}

.slick-slider .slick-dots li button:before {
  font-size: 10px;
  color: var(--secondary-color);
  opacity: 1;
}

.slick-slider .slick-dots li.slick-active button:before {
  color: var(--white-color);
}

.inputmodified label,
.font label {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 20px;
  top: 3px;
  letter-spacing: 0.5px;
  left: 10px;
}

.my-cart sup {
  font-size: 12px;
  background: #000;
  width: 20px;
  height: 20px;
  display: inline-block;
  line-height: 20px;
  border-radius: 100%;
  left: 2px;
  overflow: hidden;
}

.arrows .slick-next,
.arrows .slick-prev {
  width: 80px;
  height: 80px;
}

.arrows .slick-next:before {
  content: '';
  background-image: url(/svg/right.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  right: 25%;
}

.arrows .slick-prev:before {
  content: '';
  background-image: url(/svg/left.svg);
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 1;
  background-size: cover;
  left: 25%;
}

.productslider .slick-list {
  width: 90%;
  margin: 0px 5%;
}

.slick-slider.minusbottom .slick-dots {
  bottom: -5%;
}

.slick-slider.navigationwhite .slick-dots {
  bottom: -10%;
}

.slick-slider .slick-dots li button:before {
  color: #000;
  transition: ease all 0.5s;
}

.slick-slider .slick-dots li.slick-active button:before {
  color: var(--secondary-color);
  font-size: 15px;
}

.seasonalpack .sliderbox {
  margin-top: 4vh;
  border: solid 1px var(--bg-color)
}

.slick-slider.navigationwhite .slick-dots li button:before {
  color: var(--white-color);
}

.hovershadow .sliderbox:hover {
  box-shadow: 4px 4px 20px rgb(21 42 119 / 24%);
}

.organcolumnrow {
  width: 96%;
  margin: 0 auto;
}

.title h3.text-white:after {
  background-color: var(--bg-color);
}

.top-20 {
  top: 20%;
}

.left-inherit {
  left: inherit;
}

.top-inherit {
  top: inherit;
}

.svgwidthline path {
  fill: #4462ae;
}

.p-80,
.testimonial {
  padding: 80px 0;
}

.leftmenu .button {
  min-width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  text-transform: capitalize;
  padding: 0 20px;
}

svg.color-black path {
  fill: #607586;
}

.fixed {
  -webkit-animation: smoothScroll 1s forwards;
  animation: smoothScroll 1s forwards;
  left: 0;
  position: fixed;
  top: 0;
}

.header.fixed {
  box-shadow: 0 3px 3px rgb(0 0 0 / 12%);
  width: 100%;
  z-index: 3;
  background: var(--white-color);
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-40px);
  }

  100% {
    transform: translateY(0px);
  }
}

.header.fixed .menslide.fixvisible {
  visibility: visible;
  opacity: 1;
}

.header .menslide.fixvisible {
  top: 100%;
  height: auto;
  z-index: 2;
  display: inline-block;
}

header {
  min-height: 100px;
  background-color: var(--white-color);
}

.gradient-layer {
  width: 20px;
  position: absolute;
  background-color: var(--primary-color);
  right: 0;
  top: 5%;
  bottom: 5%;
}

.cta span:hover svg {
  transform: scale(1.15);
}

.slimenu ul li {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 8px;
  transition: ease all 0.5s;
}

.slimenu ul li span,
.MuiInputBase-root.formbtn span,
.leftmenu span span svg {
  width: 30px;
  margin-right: 10px;
}

.slimenu ul li span,
.leftmenu span span svg {
  width: 25px;
  display: inline-block;
}

.fixed .logo {
  width: 40%;
}

.logo {
  transition: ease all 0.5s;
}

.minheight-120 {
  min-height: 120px;
}

.organcolumn .textbtn {
  margin: 0;
  font-weight: normal;
}

.hsection circle,
.hsection path {
  fill: #c7c7c7;
}

.organcolumn .textbtn:after {
  background: #c8c5c5;
}

.headersearchbox {
  width: 450px;
  transition: ease all 0.5s;
  visibility: hidden;
  opacity: 0;
}

.headersearchbox .inputmodified {
  border-radius: 160px;
}

.headersearchbox .inputmodified .MuiInputBase-root {
  border-radius: 50px;
}

.fixed .headersearchbox {
  opacity: 1;
  visibility: visible;
}

.headersearchbox .inputmodified .MuiInputBase-root .searchbutton {
  background: transparent;
}

.headersearchbox .inputmodified .MuiInputBase-root .searchbutton svg path {
  fill: #909090 !important;
}

.slimenu ul li:before {
  content: '';
  background: #2598cf;
  position: absolute;
  width: 100%;
  height: 0;
  z-index: -1;
  transition: ease all 0.5s;
  top: 0;
}

.slimenu ul li:hover:before {
  height: 100%;
}

.slimenu ul li:hover {
  color: var(--white-color);
}

.slimenu ul li:hover span svg path {
  fill: var(--white-color) !important;
}

/* About Us  */
.colorhomecollection {
  background-color: var(--primary-color);
  padding: 40px;
  border-radius: 50px;
}

.colorhomecollection h2:before,
.colorhomecollection h2:after {
  opacity: 0;
}

.colorhomecollection h2 span {
  color: var(--white-color);
}

.colorhomecollection p {
  margin: 0;
  color: var(--white-color);
}

.chooseassure .col-lg-3:nth-child(1) .circleicons span {
  background: #5dd6b3;
}

.chooseassure .col-lg-3:nth-child(2) .circleicons span {
  background: #6295d7;
}

.chooseassure .col-lg-3:nth-child(3) .circleicons span {
  background: #fef7a6;
}

.chooseassure .circleicons svg path {
  fill: #000
}

.quality li+li,
.dropdowntab ul li+li {
  margin: 10px 0;
}

.quality li {
  list-style: disc;
}

.organcolumnrow .sliderbox {
  box-shadow: none;
}

.detailrow .highlights p {
  padding: 10px 30px;
  border: solid 1px #d8dee7;
  border-radius: 50px;
}

.detailrow {
  padding-bottom: 20px;
  border-bottom: solid 1px #ececec;
  margin-bottom: 20px;
}

.detailrow p {
  padding: 0 25px;
}

.detailrow:last-child {
  border: none;
}

.accordion__item+.accordion__item,
.sitemapcol li+li,
.keyfeaturecont li {
  margin: 10px 0;
}

.accordion__button {
  background-color: var(--bg-color);
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  display: flex;
  align-items: center;
  border-radius: 35px;
  transition: ease all 0.5s;
  display: flex;
  justify-content: space-between;
}

.accordion__button span {
  padding-right: 25px;
}

.accordion__button:hover,
.faqcont [aria-expanded=true] {
  background-color: #9cd6ff
}

.accordion__panel ul li {
  list-style: disc;
  margin: 5px 0;
}

.detaildescrp .button.button--aylen svg {
  width: 30px;
}

.accordion__button:before {
  display: inline-block;
  content: "";
  position: absolute;
  right: 2%;
  color: #000;
  content: "\002B";
  font-size: 24px;
  font-weight: 300;
  margin: 0;
  display: none;
}

.accordion__button[aria-expanded="true"]::before,
.accordion__button[aria-selected="true"]::before,
.categorymanager [aria-expanded="true"] .plusbutton:before {
  content: "\2212";
}

[hidden] {
  display: none;
}

.accordion__panel {
  padding: 20px;
  animation: fadein 0.35s ease-in;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.accordion__panel ul {
  margin: 10px 0;
  padding-left: 25px;
}

.chooseassure .circleicons span svg path {
  transition: ease all 0.5s;
}

.chooseassure .circleicons span:hover svg path {
  fill: var(--white-color) !important;
  stroke: var(--white-color);
}

.listdata {
  max-height: 320px;
  overflow: auto;
}

.dropdowntab {
  position: absolute;
  top: 100%;
  z-index: 2;
  background: #fff;
  box-shadow: 0px 0px 2px 2px rgb(214 214 214 / 29%);
}

.listdata::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #F5F5F5;
}

.listdata::-webkit-scrollbar {
  width: 7px;
  background-color: #F5F5F5;
}

.listdata::-webkit-scrollbar-thumb {
  background-color: #0d0d0d;
  border: 1px solid #555555;
}

.listdata ul {
  padding: 0 15px;
}

.listdata ul li {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.5px;
  color: #181818;
  border-bottom: solid 1px #f5f5f5;
  padding: 10px 0;
  margin: 0 !important;
}

.headersearchbox.enquireform .searchbutton {
  background: transparent;
}

.headersearchbox.enquireform .searchbutton svg path {
  fill: #e6e6e6 !important
}

.headersearchbox.enquireform .dropdowntab {
  z-index: 3;
}

.headersearchbox.enquireform .MuiInputBase-root {
  background-color: var(--white-color);
}

.contentbox h4,
.contentbox ul li {
  padding-bottom: 5px;

}

.contentbox {
  padding-bottom: 10px;
}


/* Upload from css */

.form-container {
  width: 100vw;
  height: 100vh;
  background-color: #19191a59;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}

.upload-files-container {
  background-color: #fbfbfb;
  width: 50%;
  padding: 30px 60px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 10px 20px, rgba(0, 0, 0, 0.28) 0px 6px 6px;
}

.drag-file-area {
  border: 2px dashed var(--secondary-color);
  border-radius: 40px;
  margin: 10px 0 15px;
  padding: 30px 50px;
  width: 100%;
  text-align: center;
}

.drag-file-area .upload-icon {
  font-size: 50px;
}

.drag-file-area h3 {
  font-size: 26px;
  margin: 15px 0;
}

.drag-file-area label {
  font-size: 19px;
}

.drag-file-area label .browse-files-text {
  color: var(--secondary-color);
  font-weight: bolder;
  cursor: pointer;
  text-transform: capitalize;
}

.browse-files span {
  position: relative;
  top: -25px;
}

.default-file-input {
  opacity: 0;
  display: none;
}

.cannot-upload-message {
  background-color: #ffc6c4;
  font-size: 17px;
  display: flex;
  align-items: center;
  margin: 5px 0;
  padding: 5px 10px 5px 30px;
  border-radius: 5px;
  color: #BB0000;
}

.cannot-upload-message svg {
  width: 25px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.cannot-upload-message span,
.upload-button-icon {
  padding-right: 10px;
}

.cannot-upload-message span:last-child {
  padding-left: 20px;
  cursor: pointer;
}

.file-block {
  color: #f7fff7;
  background-color: rgb(97, 215, 176);
  transition: all 1s;
  width: 70%;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 15px;
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
}

.file-info {
  display: flex;
  align-items: center;
  font-size: 15px;
}

.file-icon {
  margin-right: 10px;
}

.file-name,
.file-size {
  padding: 0 3px;
}

.remove-file-icon {
  cursor: pointer;
}

.progress_bar {
  position: absolute;
  bottom: 0px;
  left: 2%;
  width: 0;
  height: 3px;
  border-radius: 25px;
  background-color: var(--btn-color);
  animation: progressBarAnimation 5s linear;
  /* Use an animation to change the width */
}

@keyframes progressBarAnimation {
  0% {
    width: 0;
  }

  100% {
    width: 96%;
  }
}

.upload-icon svg {
  height: 150px;

}

.check_icon svg {
  width: 30px
}

.file-block svg {
  width: 20px;
}

.alpha span {
  display: contents !important;
}

._cross {
  position: absolute;
  content: "\292B";
  top: 10%;
  right: 5%;
  color: #000;
  height: 25px;
  width: 25px;
}


/* cart css */
._cart {
  width: 30%;
  left: inherit !important;
  height: 100vh;
  font-family: inherit;
  box-shadow: 0 0 15px rgb(0 0 0 / 34%);
}

._cart p {
  margin-bottom: 0;
}

.cart_product_img {
  height: 50px;
  width: 50px;
}

._cart_qnt {
  display: flex;
  flex-direction: row;
  align-items: center;
}

._cart_header {
  padding: 15px 0;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: #fff;
  z-index: 2;
  ;
}

._cart_heading {
  margin: 0 auto;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 2px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-image: linear-gradient(52deg, #7610c7, #0c90d2);
  background-size: 100% 100%;
  background-position: 0;
  margin: 0 auto;
}

._cart_test li::before {
  position: absolute;
  content: "";
  bottom: -15px;
  left: 0;
  height: 1px;
  width: 100%;
  background-color: rgb(204 204 204 / 30%);
}

._cart_back_icon svg {
  font-size: 20px;
  height: 30px;
}

._cart_test_detail {
  align-items: center;
}

._cart_test_detail h5 {
  margin: 0;
}

.org_price p span {
  margin-left: 14px;
}

.rupee,
.org_price p span,
.dis_price {
  position: relative;
}

.rupee::before,
.org_price p span::before,
.dis_price p::before {
  position: absolute;
  content: "\20B9";
  top: 0;
  left: -15px;
  font-size: inherit;
  color: #353535;

}

.cart_itam_qnt {
  color: #525252;
  font-size: 15px;
  margin-bottom: 5px;
  font-weight: 600;
  letter-spacing: 1.3px;
}


.dis_price {
  font-size: 20px;
}


.sub_total {
  margin-top: 20px;
}

.cart_btn {
  display: flex;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  align-items: center;
  justify-content: end;
}

.cnt_shp_btn {
  border: none;
  background-color: transparent;
  font-size: 12px;
  margin-top: 30px;
}

._cart_list {
  margin: 30px 0;
}

.bg_logo svg {
  height: 80px;
}

.bg_logo {
  position: absolute;
  opacity: 6%;
  left: 50%;
  top: 45%;
  transform: translate(-50%, -50%);
}

.cart_itam_qnt {
  justify-content: center;
  align-items: center;
}

.packagename_test {
  height: 55px;
}

.packagename_test h5 {
  font-weight: 600;
  font-size: 20px;
  text-transform: capitalize;
  text-align: center;
  line-height: 30px;
  max-width: 95%;
  margin: 0 auto;
  text-wrap: balance;
  letter-spacing: 2.4px;
}



.my-cart_cnt {
  font-style: normal;
  font-size: 12px;
  background-color: #ee3147;
  border-radius: 50%;
  position: absolute;
  top: -10px;
  right: 0;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  color: #fff;
  font-weight: 500;
}

.accordiancont ul li a,
.accordion__button a {
  color: #000;
  text-decoration: none;
}


.starrr {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.allservice-wrap a {
  /* color: #000; */
  text-transform: uppercase;
  font-size: 14px;
  border: 2px solid #e4e4e4;
  padding: 14px 28px;
  display: inline-block;
  transition: all .2s ease-in-out;
}

.allservice-wrap {
  text-align: center;
}

section.googlereview-sec {
  padding-top: 60px;
  border-top: 1px solid #e7e7e7;
  padding-bottom: 40px;
}

.googlereviewslider p {
  text-align: CENTER;
  font-size: 16px;
  line-height: 32px;
  margin-top: 15px;
}

.baseon-rating p {
  text-transform: uppercase;
  font-size: 15px;
  margin-top: 15px;
}

.googlereviewslider p strong {
  font-size: 14px;
  text-transform: uppercase;
}

.googlereviewslider {
  max-width: 65%;
  margin: auto;
  color: #fff;
}

.baseon-rating {
  margin-bottom: 20px;
}

.rating {
  text-align: center;
}

/* a:visited {
  color: #000;
} */
.nw svg {
  fill: #fff !important;
  margin: 0 5px;
  height: 25px;
}


.nw_half .st0 {
  color: #000;
  fill: #000;
}

div#bookAppointmentForm .width50:first-chlid {
  margin-left: 5px;
}

.g-logo {
  text-align: center;
}

.g-logo svg {
  width: 200px;
  margin-bottom: 8px;
}


.googlereviewslider .slick-prev:before,
.vedio_review .slick-prev:before {
  rotate: 180deg;
}

.vedio_review .slick-prev:before,
.vedio_review .slick-next:before,
.googlereviewslider .slick-prev:before,
.googlereviewslider .slick-next:before {
  display: block;
  content: "";
  background-image: url(../public/sharp\ arrow.webp);
  width: auto;
  height: 50px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  filter: invert();
}

.vedio_review .slick-prev,
.vedio_review .slick-next {
  left: -5%;

}

.vedio_review .slick-next {
  left: inherit;
  right: -5%;
}

.googlereviewslider .slick-prev,
.googlereviewslider .slick-next {
  left: -8%;
  top: 30%;
}


.googlereviewslider .slick-next {
  left: inherit;
  right: -8%;

}

.googlereviewslider .slick-dots {
  display: block !important;
}

.faqcont {
  margin: 0 auto;
}

.faqcont,
.faq .accordion__item+.accordion__item {
  margin: 15px auto;
}

.vedio_review .slick-prev:before,
.vedio_review .slick-next:before {
  filter: none;
}

.__trestmonail .button {
  color: #000;
}

.__trestmonail .button:hover {
  color: #fff;
}

.search_loader {
  width: auto;
  height: auto;
  box-sizing: border-box;
  margin: 10% 0;
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: center;
}

.search_loader .loader {
  width: 50px;
  height: 50px;
  margin: 0;
  background: transparent;
  border-top: 4px solid #7610c7;
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: 1s spin ease infinite;
  animation: 1s spin linear infinite;
}

/* .search_loader:after {
  content: '';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background:#9c9b9b67;
} */

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



.headersearchbox .header_search .form-control {
  width: 100%;
  height: 56px !important;
  font-size: 15px;
  background-color: #fff;
  border-radius: 35px !important;
  text-indent: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  color: #000;
  margin-bottom: 0;
}

.headersearchbox .header_search .rbt-input-hint {
  background-color: #fff;
  font-size: 15px;
  text-indent: 15px;
  color: #000;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
}

.enquireform .rbt-input-hint,
.enquireform .form-control {
  line-height: 56px;
  letter-spacing: 0;
  color: #607586;
  border: solid 1px #abb5bb;
  max-height: 56px;
  border-radius: 35px;
  background-color: var(--bg-color);
  text-align: left;
  overflow: hidden;
  margin-bottom: 15px;
  text-indent: 15px;
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  font-size: 15px;
}

.form-control:focus {
  color: inherit;
  border-color: #000 !important;
  background-color: var(--bg-color) !important;
  outline: 0;
  box-shadow: none !important;
}

.headersearchbox .form-control:focus {
  background-color: transparent !important;
}

.dropdown-item.active,
.dropdown-item:active {
  background-color: rgb(227, 242, 255) !important;
  color: #000 !important;
}


.rbt-highlight-text {
  padding: 0 !important;
  color: inherit !important;
  background-color: transparent !important;
  font-weight: 600 ;
}
.rbt-aux{
 display: none;
}
#searchTypeahead::-webkit-scrollbar {
  width: 6px;
  background-color: #ebeaea;
}

/* Handle */
#searchTypeahead::-webkit-scrollbar-thumb {
  background: #acaaaa;
  border-radius: 3px;
}

/* Handle on hover */
#searchTypeahead::-webkit-scrollbar-thumb:hover {
  background: #7e7d7d;
}